<div id="skiptocontent"><a href="#maincontent">skip to main content</a></div>

<div class="hero">
  <div class="container">
    <div class="cornell-identity">
      <div class="row">
        <div class="cu-brand">
          <div class="cu-logo cul-law-logo">
            <%# TODO: print logo %>
            <img src="/assets/cornell/layout/cul-logo-white.gif" alt="Cornell University Library" class="print-logo">
            <%# Mobile logo %>
            <a href="http://law.library.cornell.edu"><img src="/assets/cornell/cul-branding/cul-law-logo-mobile.png" alt="Cornell University Law Library" class="visible-xs mobile-logo"></a>
            <a id="insignia-link" href="http://www.cornell.edu/" class="hidden-xs">Cornell Insignia</a>
            <div class="unit-signature-links hidden-xs">
              <a id="unit-link" href="http://www.library.cornell.edu/">Cornell University Library</a>
              <a id="sub-unit-link" href="http://law.library.cornell.edu/">Law Library</a>
            </div>
          </div>
          <div class="mobile-nav visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Menu</span>
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="site-identity">
    <div class="container">
      <div class="row">
        <div class="navigation-bar">
          <div class="navbar">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
              <% if params[:subject] =="nuremberg" %>
                <li><a href="<%=root_path%>">Home</a></li>
                <li><a href="/about/collection">Collection Description</a></li>
                <li><a href="/about/project">Project</a></li>
                <li><a href="/about/analysis">Analysis of Hitler's Personality</a></li>


              <% elsif params[:subject]=="trials" %>

              <% else %>

              <% end %>

              </ul>
            </div><!--/.navbar-collapse-->
          </div>
        </div>
        <div class="site-title">
         <% if params[:subject] =="nuremberg" %>
        <h1><a href="<%=root_path%>">Donovan Nuremberg Trials Collection</a></h1>
        <h2>Nuremberg trial transcripts and documents from the collection of General William J. Donovan</h2>
        <% elsif params[:subject]=="trial" %>
        <h1><a href="<%=root_path%>">Trial Pamphlets Collection</a></h1>
        <h2>Contemporary accounts of trials from the 1600s to 1800s</h2>

        <% else %>
        <h1><a href="<%=root_path%>">Law Collections</a></h1>
        <h2>Digital collections from Cornell University Library's law library</h2>

        <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
<% if !current_page?('/') %>
  <section class="search-bar">
    <div class="container">
      <div class="row">
        <div class="clearfix searchbar" id="searchbar">         
          <%= render_search_bar  %>
        </div>
        <div class="utility-links">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>
    </div>
  </section>
<% end %>
