
  <% if params[:controller] == "high_voltage/pages" %>
    <% params[:subject] = params[:id].split('/')[0] %>
    <% search_action_url = '/' + params[:subject] %>
  <% end %>

  <div id="skiptocontent"><a href="#maincontent">skip to main content</a></div>
<div class="hero">
  <div class="container">
    <div class="cornell-identity">
      <div class="row">
        <div class="cu-brand">
          <div class="cu-logo cul-law-logo">
            <%# TODO: print logo %>
            <img src="/assets/cornell/layout/cul-logo-white.gif" alt="Cornell University Library" class="print-logo">
            <%# Mobile logo %>
            <a href="http://law.library.cornell.edu"><img src="/assets/cornell/cul-branding/cul-law-logo-mobile.png" alt="Cornell University Law Library" class="visible-xs mobile-logo"></a>
            <a id="insignia-link" href="http://www.cornell.edu/" class="hidden-xs">Cornell Insignia</a>
            <div class="unit-signature-links hidden-xs">
              <a id="unit-link" href="http://www.library.cornell.edu/">Cornell University Library</a>
              <a id="sub-unit-link" href="http://law.library.cornell.edu/">Law Library</a>
            </div>
          </div>
          <div class="mobile-nav visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Menu</span>
              <i class="fa fa-bars"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="site-identity">
    <div class="container">
      <div class="row">
        <div class="navigation-bar">
          <% if !current_page?('/') %>
          <div class="navbar">
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <% if request.original_url.include?("/nuremberg") %>
                <li><a href="/nuremberg/collection">Collection Description</a></li>
                <li><a href="/nuremberg/analysis">Analysis of Hitler's Personality</a></li>
                <li><a href="/nuremberg/copyright">Copyright and Permissions</a></li>
                <li><a href="/nuremberg/project">Project Staff</a></li>
                <% elsif request.original_url.include?("/trial")%>
                <li><a href="/trial/collection">Collection Description</a></li>
                <li><a href="/trial/grant">Grant Project Description</a></li>
                <li><a href="/trial/copyright">Copyright and Permissions</a></li>
                <li><a href="/trial/project">Project Staff</a></li>
                <% elsif request.original_url.include?("/scottsboro") %>
                <li><a href="/scottsboro/collection">Collection Description</a></li>
                <li><a href="/scottsboro/copyright">Copyright and Permissions</a></li>
                <li><a href="/scottsboro/project">Project Staff</a></li>
                <% elsif request.original_url.include?("/liberian") %>
                <li><a href="/liberian/law">Liberian Law at Cornell</a></li>
                <li><a href="/liberian/library">National Law Library for Liberia</a></li>
                <li><a href="/liberian/recodification">Recodification Files</a></li>
                <li><a href="/liberian/reports">Subject Index</a></li>
                <li><a href="/liberian/copyright">Copyright</a></li>
                <% end %>
              </ul>
              <% if request.original_url.include?("/trial") %>
                <div class="award">
                  <span class="label label-success">Winner</span> <a href="http://www.lawschool.cornell.edu/spotlights/Law-Library-Wins-AALL-Award.cfm">2013 AALL publication award</a></span>
                </div>
              <% end %>
              </div><!--/.navbar-collapse-->
            </div>
            <% end %>
          </div>
          <div class="site-title">
            <% if request.original_url.include?("/nuremberg")%>
            <div class="collections-link"><a href="<%=root_path%>">Law Collections</a></div>
            <h1><a href="<%=root_path%>nuremberg">Donovan Nuremberg Trials Collection</a></h1>
            <div class="tagline">Nuremberg trial transcripts and documents from the collection of General William J. Donovan</div>
            <% elsif request.original_url.include?("/trial")%>
            <div class="collections-link"><a href="<%=root_path%>">Law Collections</a></div>
            <h1><a href="<%=root_path%>trial">Trial Pamphlets Collection</a></h1>
            <div class="tagline">Contemporary accounts of trials from the 1600s to 1800s</div>
            <% elsif request.original_url.include?("/scottsboro")%>
            <div class="collections-link"><a href="<%=root_path%>">Law Collections</a></div>
            <h1><a href="<%=root_path%>scottsboro">Scottsboro Trials Collection</a></h1>
            <div class="tagline">Digitized copies of briefs, motions and other trial documents concerning the Scottsboro Trials
            </div>
            <% elsif request.original_url.include?("/liberian") %>
            <div class="collections-link"><a href="<%=root_path%>">Law Collections</a></div>
            <h1><a href="<%=root_path%>liberian">Liberian Law Collection</a></h1>
            <div class="tagline">The creation and foundation of Liberia
            </div>
            <% else %>
            <h1><a href="<%=root_path%>">Law Collections</a></h1>
            <div class="tagline">Special collections from Cornell University Law Library</div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  </div>
  <% unless params[:controller] == 'catalog' && params[:subject].nil? && params[:action] == 'index'%>
  <section class="search-bar">
    <div class="container">
      <div class="row">
        <div class="clearfix searchbar" id="searchbar">
          <% unless params[:controller] == 'bookmarks' || params[:controller] == 'search_history'%>
          <% if params[:subject].present? %>
          <% unless digital_collection?(params[:subject]) != true %>
            <%= render_search_bar  %>
          <% end %> 
          <% end %>
          <% end %>
          <% if params[:controller] == 'bookmarks' || params[:controller] == 'search_history' %>
            <div class="dropdown">
              <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="collection-dropdown">
                <i class="fa fa-search"></i>Search a collection
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="/nuremberg">Donovan Nuremberg Trials</a></li>
                <li><a href="/liberian">Liberian Law</a></li>
                <li><a href="/scottsboro">Scottsboro Trials</a></li>
                <li><a href="/trials">Trial Pamphlets</a></li>
              </ul>
            </div>
          <% end %>

        </div>

        <div class="utility-links">
          <%= render :partial=>'/user_util_links' %>
        </div>
      </div>
    </div>
  </section>
  <%end%>