    <% real_page = render_index_field_value :document => document, :field => 'image_n_tesim' %>
    <% # container for a single doc -%>
    <div class="document clearfix<%= render_document_class document %>" data-no-turbolink >
    	   <%#= debug document %>
    		<% page_turner = render_index_field_value :document => document, :field => 'pubstmt_idno_tesim'%> 
            <%if document[:active_fedora_model_ssi] == 'Page'%>
                  <% page_turner = render_index_field_value :document => document, :field => 'id' %>
                  <% page = render_index_field_value :document => document, :field => 'image_seq_tesim' %>

                  <% page_turner_array =  page_turner.split('_') %>
                   <% sea_id = page_turner_array[0][4..11] %>
                  <a href="/bookreader/nur:<%= sea_id %>/#page/<%= page %>/mode/1up"><img src="http://hydrastg.library.cornell.edu/fedora/objects/nur:<%= sea_id %>_<%= page %>/datastreams/thumbnailImage/content" class="img-responsive book-cover img-thumbnail" alt="Book or page image"></a>
            <% else %>
                  <% sea_id=page_turner[3..7] %>
                  <a href="/bookreader/nur:<%= sea_id %>/#page/1/mode/1up"><img src="http://hydrastg.library.cornell.edu/fedora/objects/nur:<%= sea_id %>_1/datastreams/thumbnailImage/content" class="img-responsive book-cover img-thumbnail"></a>
            <% end %>
       <div class="document-data" data-no-turbolink >
         <%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>


         <% # main container for doc partial view -%>
         <%= render_document_partial document, :index, :document_counter => document_counter %>
       </div>
    </div>
