<% real_page = render_index_field_value :document => document, :field => 'image_n_tesim' %>	
<% page_turner = pubstmt_to_id(render_index_field_value :document => document, :field => 'pubstmt_idno_tesim') %>

  <div class="data-block">
    <div class="blacklight-author_display"><%= render_index_field_value :document => document, :field => 'author_tesim' %></div>
    <div class="blacklight-publisher_display"><%= render_index_field_value :document => document, :field => 'pubplace_tesim' %>, <%= render_index_field_value :document => document, :field => 'publisher_tesim' %>
      <span class="blacklight-publisher_uniform_display"><%= render_index_field_value :document => document, :field => 'pubdate_tesim' %></span>
    </div>
    <div class="blacklight-page_turner_link" data-no-turbolink>
      <a href="/bookreader/<%= page_turner %>/#page/1/mode/1up">Read document</a>
    </div>
  </div>

   <%# default partial to display solr document fields in catalog index view -%>
 <%# This file is needed to display icon images in results display -%>
  <%# Based on the same file from our main blacklight catalog to make formatting the reader links easier -%>





