<% if params[:subject]=="nuremberg"%>
  <h2>Search Donovan Nuremberg Trials Collection</h2>
<% elsif params[:subject]=="trial"%>
  <h2>Search Trial Pamphlets Collection</h2>
<% elsif params[:subject]=="scottsboro"%>
  <h2>Search Scottsboro Trials Collection</h2>
<% elsif params[:subject]=="liberian" %>
  <h2>Search Liberian Law Collection</h2>
<% else %>
  <h2>Search Collection</h2>
<% end %>

<% if params[:controller] == "high_voltage/pages" %>
  <% params[:subject] = params[:id].split('/')[0] %>
  <% search_action_url = '/' + params[:subject] %>
<% end %>

<%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline clearfix' do %>
  <div class="form-group search-group">
    <div class="search-input">
      <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
      <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "form-control search_q q input-lg", :id => "q", :type => 'text'%>


    </div>
  </div>
  <% unless search_fields.empty? %>
    <div class="form-group">
      <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
      <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class=>"search_field form-control input-lg") %>
      <span class="sr-only"><%= t('blacklight.search.form.search_field.post_label') %></span>
    </div>
  <% end %>
  <button type="submit" class="btn btn-search" id="search">
    <span class="submit-search-text sr-only"><%=t('blacklight.search.form.submit')%></span>
    <i class="fa fa-search"></i>
  </button>
<% end %>

