  <%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-horizontal clearfix' do %>

    <% unless search_fields.empty? %>
      <div class="form-group">
              <div class="pull-left">

        <div class="input-group ">
        <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
        <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class=>"search_field input-small form-control hidden-xs") %>
        <span class="sr-only"><%= t('blacklight.search.form.search_field.post_label') %></span>
      <% end %>
      </div>
      </div>
      <div class="pull-left col-xs-8 col-sm-4">
       <div class="input-group  ">
        <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
         <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "form-control search_q q ", :id => "q", :type => 'text'%>
        <span class="input-group-btn"><button type="submit" class="btn btn-primary search-btn" id="search">
          <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
          <i class="fa fa-search"></i>
        </button>
        </span>
        </div></div>
        </div>


  <% end %>
