<%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline clearfix' do %>
  <div class="form-group">
    <div class="search-input">
      <label for="q" class="sr-only"><%= t('blacklight.search.form.q') %></label>
      <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "form-control search_q q ", :id => "q", :type => 'text'%>
    </div>
  </div>
  <div class="form-group">
    <% unless search_fields.empty? %>
      <label for="search_field" class="sr-only"><%= t('blacklight.search.form.search_field.label') %></label>
      <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class=>"search_field form-control") %>
      <span class="sr-only"><%= t('blacklight.search.form.search_field.post_label') %></span>
    <% end %>
  </div>
  <button type="submit" class="btn btn-primary search-btn" id="search">
    <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
    <i class="fa fa-search"></i>
  </button>
<% end %>

